# Ignore Python virtual environments
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs
logs/
*.log

# Ignore environment files
.env
.envrc

# Ignore Docker build files
*.dockerignore

# Ignore VS Code settings
.vscode/

# Ignore database files
*.sqlite3
*.db

